
/* Generali */
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  padding-top: 100px;
}


/* utility */

.padding_top_bottom{
  padding: 60px 0;
}

.bold{
  font-weight: bold;
}

.white{
  color: white;
}

.blue_bootstrap{
  color: #2C3E50;
}

.background_greensea{
  background-color: #1ABC9C;
}

.height-100{
  height: 100px;
}

.line_height{
  line-height: 100px;
}

.inline_block{
  display: inline-block;
}

.relative{
  position: relative;
}

.height_center{
  top: 50%;
  transform:translateY(-50%);
}

.absolute{
  position: absolute;
}

.width_300{
  width: 300px;
}

.margin_0{
  margin: 0 auto;
}

a.button_green{
  background-color: #1ABC9C;
  border: none;
}
a.button_green:hover{
  background-color: #148f77;
  color: white;
}

.font_size_paragraph{
  font-size: 1.9em;
}

.star{
  padding: 20px 0 40px;
}
.star hr{
  display: inline-block;
  margin: 0 30px;
  width: 80px;
}
.star .star_icon{
  right: 44%;
  top: -6px;
  font-size: 3em;
}

.hr_white{
  border: 2px solid white;
}
.hr_bootstrap_blue{
  border: 2px solid #2C3E50;
}

.section_title{
  font-size: 5em;
}

/* header */
.navbar_bootstrap{
  background-color: #2C3E50;
  border: none;
}

h2.nav_title{
  display: inline-block;
  vertical-align: middle;
  font-size: 2.8em;
}
.nav_title a{
  color: white;
}

.nav_title a:hover, .nav_title a:focus{
  text-decoration: none;
}

.nav_menu li a{
  font-size: 1.5em;
  color: white;
  margin-right: 20px;
}
.nav_menu li a:hover, .nav_menu li a:focus{
  font-size: 1.5em;
  color: #26B09C;
  text-decoration: none;
  margin-right: 20px;
}

@media screen and (max-width:750px) {
  h2.nav_title{
    font-size: 2em;
  }
}

/* jumbotron */
.jumbo_tron{
  height: 650px;
}
.jumbo_tron_container{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.jumbo_tron_container h2{
  font-size: 2.3em;
}
.jumbo_title{
  font-size: 6.5em;
}

.start_bootstrap{
  height: 750px;
  background-color: #1ABC9C;
}

.img_jumbo{
  display: inline-block;
  width: 250px;
  padding-bottom: 20px;
}

/* portfolio */
.box_portfolio{
  padding-bottom: 25px;
}

.portfolio_content{
  position: relative;
}
.portfolio_layover{
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26,188,156,.9);
  border-radius: 6px;
  z-index: 2;
  cursor: pointer;
}
.portfolio_content:hover .portfolio_layover{
  display: block;
}

/* about */
.about{
  margin-top: 40px;
  color: white;
}

.button_container{
  text-align: center;
}

.btn_about{
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 50px;
  padding: 20px 30px;
}
.btn_about:hover{
  background-color: white;
}

.download_item{
  padding-right: 5px;
}

/* contact */
#contact{
  margin-bottom: 70px;
}

.contact_form li{
  width: 100%;
  border-bottom: 1px solid grey;
}
.contact_form li:last-child{
  width: 100%;
  height: 200px;
  border-bottom: 1px solid grey;
}

/* footer */
footer{
  height: 300px;
  background-color: purple;
}
